<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>

<!-- checkbox 分为两种情况

1.单选框：value 是 true 和 false
2.复选框：value 是 数组

 -->

<div id="app">

<!-- 1.单选框示例 -->
<!--  <label for="isAgree">-->
<!--    <input type="checkbox" id="isAgree" v-model="isAgree">同意-->
<!--  </label>-->
<!--  <h2>您的选择是：{{isAgree}}</h2>-->
<!--  <button v-bind:disabled="!isAgree">下一步</button>-->

<!-- 2.复选框示例-->
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="足球" v-model="hobbies">足球
  <input type="checkbox" value="兵乓球" v-model="hobbies">兵乓球
  <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球

  <h2>您选择的爱好有：{{hobbies}}</h2>

</div>

<script>
  const app = new Vue({
    el:'#app',
    data: {
      isAgree: false,  // 单选框
      hobbies: []    //复选框
    }
  });
</script>

</body>
</html>